# Lambda function

In [1]:
def Double(x):   # normal function creation for doubling a number
    return x*2
    
Double(50)       # function call with argument 50

100

In [2]:
LambdaVariable = lambda x:x*2  # lambda function creation for doubling
LambdaVariable(50)             # function call with argument 50

100

In [3]:
def Add(x,y):    # normal addition function for two numbers
    return x+y
    
Add(50, 50)      # function call with two arguments

100

In [4]:
LambdaAdd = lambda x,y:x+y   # lambda addition function for two numbers
LambdaAdd(20,30)             # function call with arguments 20 and 30

50

In [5]:
def Max(x,y):         # normal max function creation to find maximum
    if x>y:
        return x
    else:
        return y
        
Max(35,45)           # function call to find maximum between 35 and 45

45

In [6]:
LambdaMax = lambda x,y:x if x>y else y    # lambda max function creation using conditional expression
LambdaMax(22, 49)                          # function call to find maximum between 22 and 49

49

# Iterables

In [7]:
NumberList = [1,2,3,4,5]        # list is iterable and can be looped through
for CurrentNumber in NumberList:
    print(CurrentNumber)

1
2
3
4
5

In [8]:
NumberTuple = (1,2,3,4,5)      # tuple is iterable and can be looped through
for CurrentNumber in NumberTuple:
    print(CurrentNumber)

1
2
3
4
5

In [9]:
StudentDictionary = {"name":"DharshanRajPA","Reg No":"22MIC0073"}        # dictionary is iterable and can be looped through
for CurrentItem in StudentDictionary.items():
    print(CurrentItem)

('name', 'DharshanRajPA')
('Reg No', '22MIC0073')

In [10]:
StudentName = "DharshanRajPA"        # string is iterable and can be looped through character by character
for CurrentCharacter in StudentName:
    print(CurrentCharacter)

D
h
a
r
s
h
a
n
R
a
j
P
A

In [11]:
MyBytes = b"hello"           # byte object is iterable and can be looped through
print("Iterating over a bytes object:")
for CurrentByte in MyBytes:
    print(CurrentByte)

Iterating over a bytes object:
104
101
108
108
111

# Non-iterables

In [12]:
NumberValue = 1234567
StringValue = str(NumberValue)         # usage of type casting to make it iterable
for CurrentDigit in StringValue:
    print(CurrentDigit)

1
2
3
4
5
6
7

In [13]:
NumberValue = 1234567
SumValue = 0
while NumberValue != 0:
    CurrentDigit = NumberValue % 10    # no type casting is done but still iterable through mathematical operations
    print(CurrentDigit)
    NumberValue //= 10

7
6
5
4
3
2
1

In [14]:
CombinedNumber=456789
DigitList= [int(CurrentDigit) for CurrentDigit in str(CombinedNumber)]
print(DigitList)
for CurrentDigit in DigitList:
    print(CurrentDigit)

[4, 5, 6, 7, 8, 9]
4
5
6
7
8
9

# Use of dir() function

In [15]:
NameList=['dharshan', 'raj' ,'p','a']
print(dir(NameList))          # provides the list of all possible methods and attributes

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
NameList=['dharshan', 'raj' ,'p','a']
IteratorObject = NameList.__iter__()       # one way of creating iterator object
IteratorObject2= iter(NameList)            # other way of creating iterator object
print(IteratorObject)
print(type(NameList))         # print the type and class of created object
print(type(IteratorObject))
print(type(IteratorObject2))

<list_iterator object at 0x00000196F85A4460>
<class 'list'>
<class 'list_iterator'>
<class 'list_iterator'>

In [17]:
NumberArray=[2,5,7,8]
print(dir(NumberArray))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [18]:
print(next(IteratorObject))
print(next(IteratorObject))
print(next(IteratorObject))
print(next(IteratorObject))
print(next(IteratorObject))    # displays error because it has reached the end of the list
print(next(IteratorObject))

dharshan
raj
p
a

StopIteration:

In [19]:
NameList=['dharshan', 'raj' ,'p','a']
LoopIterator = iter(NameList)
while True:           # exception handling if it reaches the end of the list
    try:
        CurrentName=next(LoopIterator)
        print(CurrentName)
    except StopIteration:
        break

dharshan
raj
p
a

# Map function

In [20]:
def Square (x):
        return x*x

NumberSequence = [1,2,3,4,5]
print(list(map(Square,NumberSequence)))
print(list(map(lambda x: x*x ,NumberSequence)))
print(list(filter(lambda x: x>3,NumberSequence))) # filters the element that satisfies the conditions provided

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[4, 5]

In [22]:
NameArray = ["sAm","cam","taM"] # original list with mixed case
for CurrentName in NameArray:
    CurrentName.upper()
print(NameArray)
print(list(map(lambda x:x.lower(),NameArray))) # convert the list elements into lower case

['sAm', 'cam', 'taM']
['sam', 'cam', 'tam']

# Reduce function

In [21]:
from functools import reduce
print(reduce(lambda x,y:x+y,NumberSequence))  # applies the given condition and stores the value and iterates and starts performing the condition until it reaches the end

15

In [23]:
WordList=['money', 'cannot' ,'buy','everything']
from functools import reduce
print(reduce(lambda x,y:x+" "+y,WordList))  # way of using lambda function to join tokens

money cannot buy everything