# Advanced Python Programming (APP)
## Course Code (CC) - CSI - 3007
### Laboratory (Lab)
#### Digital Assignment - 04

## Working On Pandas Data - Multi Index in Series Task Job Work In Advanced Python Programming Lab
### Custom User Own Client Customer Individual Synthetic Dataset  
#### Python Programming Coding Scripting Computer Science Language
#### Jupyter Notebook Core Main Crux Framework Library Module Binary Package  

# Working On Pandas Data - Multi Index in Series Task Job Work In Advanced Python Programming Lab
## Student: Dharshan Raj P A
## Register Roll Number ID: 22MIC0073
## Date: 03-10-2025

### MultiIndex Series and DataFrame (from arrays)

In [1]:
# Program 5: Passing arrays directly to create MultiIndex in Series/DataFrame
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# Series with automatic MultiIndex
MultiSeriesAuto = pd.Series(
    np.random.randn(4),                  # Generate 4 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["A", "A", "B", "B"], ["X", "Y", "X", "Y"]])  
    # Create MultiIndex Directly From Arrays
)
print("MultiIndex Series constructed automatically:\n", MultiSeriesAuto, "\n")  
# Print Automatically Created MultiIndex Series

# DataFrame with automatic MultiIndex
DataFrameAuto = pd.DataFrame(
    np.random.randn(4, 2),               # Generate 4x2 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["Group1", "Group1", "Group2", "Group2"],
                                     ["One", "Two", "One", "Two"]]),  
    # Create MultiIndex For DataFrame Rows
    columns=["Score1", "Score2"]         # Assign Column Names
)
print("DataFrame with MultiIndex automatically:\n", DataFrameAuto, "\n")  
# Print DataFrame With Automatic MultiIndex

MultiIndex Series constructed automatically:
 A  X    1.487123
   Y    0.060368
B  X    1.342929
   Y    0.358407
dtype: float64

DataFrame with MultiIndex automatically:
               Score1    Score2
Group1 One -0.217676  2.227944
       Two  0.849849 -0.648770
Group2 One -1.030192 -0.038769
       Two  0.823959 -0.695492

### Align and Reindex with MultiIndex

In [2]:
# Program 6: Data alignment and reindexing with MultiIndex
import pandas as pd                      # Import Pandas Library As pd

DataFrame = pd.DataFrame({
    "Math": [85, 90, 95, 80],           # Math Scores For Each Row
    "Science": [82, 88, 92, 84]         # Science Scores For Each Row
}, index=pd.MultiIndex.from_arrays([["A", "A", "B", "B"], ["one", "two", "one", "two"]]))  
# Create DataFrame With MultiIndex Rows

print("Original DataFrame:\n", DataFrame, "\n")  
# Print Original DataFrame

# Group by first level and compute mean
MeanByGroup = DataFrame.groupby(level=0).mean()  
# Compute Mean Values By First Index Level

print("Mean by group:\n", MeanByGroup, "\n")  
# Display Group Mean

# Reindexing with MultiIndex
Aligned = MeanByGroup.reindex(DataFrame.index, level=0)  
# Align Group Means To Original MultiIndex Rows

print("Reindexed to align with original index:\n", Aligned, "\n")  
# Display Reindexed DataFrame

Original DataFrame:
        Math  Science
A one    85       82
  two    90       88
B one    95       92
  two    80       84

Mean by group:
    Math  Science
A  87.5     85.0
B  87.5     88.0

Reindexed to align with original index:
        Math  Science
A one  87.5     85.0
  two  87.5     85.0
B one  87.5     88.0
  two  87.5     88.0

### Sort MultiIndex and Remove Unused Levels

In [3]:
# Program 8: Sorting MultiIndex and removing unused levels
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# Unsorted MultiIndex Series
MultiSeries = pd.Series(
    np.random.randn(4),                  # Generate 4 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["B", "A", "B", "A"], ["X", "Y", "Y", "X"]])  
    # Create MultiIndex With Unsorted Values
)
print("Unsorted MultiIndex Series:\n", MultiSeries, "\n")  
# Display Unsorted MultiIndex Series

print("Sorted by index:\n", MultiSeries.sort_index(), "\n")  
# Display Series Sorted By MultiIndex

# Removing unused levels
DataFrame = pd.DataFrame(
    np.random.randn(4, 2),               # Generate 4x2 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["Group1", "Group1", "Group2", "Group2"], ["One", "Two", "One", "Two"]]),  
    # MultiIndex For Rows
    columns=pd.MultiIndex.from_arrays([["Score1", "Score2"], ["X", "Y"]])  
    # MultiIndex For Columns
)
print("Before removing unused levels:\n", DataFrame.columns.levels, "\n")  
# Display Column Levels Before Removing

SubDataFrame = DataFrame[["Score1"]]                   # Drop Column Score2
print("After removing unused levels:\n", SubDataFrame.columns.remove_unused_levels().levels, "\n")  
# Remove And Display Unused Column Levels

Unsorted MultiIndex Series:
 B  X    0.780101
A  Y    0.393955
B  Y   -0.322272
A  X   -0.004487
dtype: float64

Sorted by index:
 A  X   -0.004487
   Y    0.393955
B  X    0.780101
   Y   -0.322272
dtype: float64

Before removing unused levels:
 [['Score1', 'Score2'], ['X', 'Y']]

After removing unused levels:
 [['Score1'], ['X']]

# CREATING DATAFRAMES DIFFERENT WAYS

### Create DataFrames: Lists, Series, and NumPy Arrays

In [4]:
# Program 1: Creating DataFrames (different ways)
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# ------------------------------------------
# 1. From dictionary of lists
# ------------------------------------------
DataDictLists = {"Name": ["Alice", "Bob", "Charlie"],  # Dictionary With Lists
                 "Age": [24, 27, 22],                 # Age List
                 "Score": [85, 90, 88]}               # Score List
DataFrame1 = pd.DataFrame(DataDictLists)               # Create DataFrame From Dictionary
print("DataFrame from dictionary of lists:\n", DataFrame1, "\n")  
# Print DataFrame

# ------------------------------------------
# 2. From dictionary of Series
# ------------------------------------------
DataDictSeries = {"Math": pd.Series([90, 80, 85], index=["Alice", "Bob", "Charlie"]),  
                  # Math Scores As Series
                  "Science": pd.Series([88, 92, 84], index=["Alice", "Bob", "Charlie"])}  
                  # Science Scores As Series
DataFrame2 = pd.DataFrame(DataDictSeries)             # Create DataFrame From Dictionary Of Series
print("DataFrame from dictionary of Series:\n", DataFrame2, "\n")  
# Print DataFrame

# ------------------------------------------
# 3. From NumPy array
# ------------------------------------------
DataFrame3 = pd.DataFrame(np.arange(9).reshape(3, 3),  # Create 3x3 Array
                          columns=["Col1", "Col2", "Col3"])  
                          # Assign Column Names
print("DataFrame from NumPy array:\n", DataFrame3, "\n")  
# Print DataFrame

DataFrame from dictionary of lists:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

DataFrame from dictionary of Series:
          Math  Science
Alice      90       88
Bob        80       92
Charlie    85       84

DataFrame from NumPy array:
    Col1  Col2  Col3
0     0     1     2
1     3     4     5
2     6     7     8

### Access Rows and Columns (loc/iloc and selection)

In [5]:
# Program 2: Accessing rows and columns
import pandas as pd                      # Import Pandas Library As pd

Data = {"Name": ["Alice", "Bob", "Charlie", "David"],  
        # Name Column
        "Age": [24, 27, 22, 30],        # Age Column
        "Score": [85, 90, 88, 95]}      # Score Column
DataFrame = pd.DataFrame(Data)           # Create DataFrame From Dictionary

print("Original DataFrame:\n", DataFrame, "\n")  
# Print Original DataFrame

# Access single column
print("Accessing single column (Score):\n", DataFrame["Score"], "\n")  
# Access Column "Score" Using Key

# Access multiple columns
print("Accessing multiple columns:\n", DataFrame[["Name", "Age"]], "\n")  
# Access Multiple Columns Using List Of Names

# Access row by index label
print("Access row using loc:\n", DataFrame.loc[2], "\n")  
# Access Row Using Label-Based loc

# Access row by integer location
print("Access row using iloc:\n", DataFrame.iloc[1], "\n")  
# Access Row Using Integer-Based iloc

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95

Accessing single column (Score):
 0    85
1    90
2    88
3    95
Name: Score, dtype: int64

Accessing multiple columns:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   30

Access row using loc:
 Name     Charlie
Age           22
Score         88
Name: 2, dtype: object

Access row using iloc:
 Name     Bob
Age       27
Score     90
Name: 1, dtype: object

### Indexing, slicing, and conditional selection

In [6]:
# Program 3: Indexing and Slicing
import pandas as pd                      # Import Pandas Library As pd

Data = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],  
        # Name Column
        "Age": [24, 27, 22, 30, 28],      # Age Column
        "Score": [85, 90, 88, 95, 89]}   # Score Column
DataFrame = pd.DataFrame(Data)           # Create DataFrame From Dictionary

print("Original DataFrame:\n", DataFrame, "\n")  
# Print Original DataFrame

# Slicing rows
print("First three rows:\n", DataFrame[:3], "\n")  
# Slice First Three Rows Using Standard Indexing

# Slicing specific rows using loc
print("Rows 1 to 3:\n", DataFrame.loc[1:3], "\n")  
# Slice Rows By Label Using loc

# Slicing specific columns
print("Columns Name and Score:\n", DataFrame.loc[:, ["Name", "Score"]], "\n")  
# Select Specific Columns Using loc

# Conditional selection
print("Rows where Score > 88:\n", DataFrame[DataFrame["Score"] > 88], "\n")  
# Select Rows Where Score Greater Than 88

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

First three rows:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

Rows 1 to 3:
       Name  Age  Score
1      Bob   27     90
2  Charlie   22     88
3    David   30     95

Columns Name and Score:
       Name  Score
0    Alice     85
1      Bob     90
2  Charlie     88
3    David     95
4      Eva     89

Rows where Score > 88:
     Name  Age  Score
1    Bob   27     90
3  David   30     95
4    Eva   28     89

### Modify DataFrame: add, update, and delete

In [7]:
# Program 4: Adding, Updating, and Deleting Data
import pandas as pd                      # Import Pandas Library As pd

DataFrame = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],  
                          # Name Column
                          "Age": [24, 27, 22]})  
                          # Age Column
print("Original DataFrame:\n", DataFrame, "\n")  
# Print Original DataFrame

# Adding new column
DataFrame["Score"] = [85, 90, 88]              # Add Score Column To DataFrame
print("After adding Score column:\n", DataFrame, "\n")  
# Display DataFrame After Adding Column

# Updating values
DataFrame.at[1, "Age"] = 28                     # Update Age For Index 1 (Bob)
print("After updating Age of Bob:\n", DataFrame, "\n")  
# Display DataFrame After Updating Value

# Deleting column
DataFrame = DataFrame.drop("Score", axis=1)     # Drop Score Column
print("After deleting Score column:\n", DataFrame, "\n")  
# Display DataFrame After Column Deletion

# Deleting row
DataFrame = DataFrame.drop(2, axis=0)           # Drop Row With Index 2
print("After deleting row with index 2:\n", DataFrame, "\n")  
# Display DataFrame After Row Deletion

Original DataFrame:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

After adding Score column:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

After updating Age of Bob:
       Name  Age  Score
0    Alice   24     85
1      Bob   28     90
2  Charlie   22     88

After deleting Score column:
       Name  Age
0    Alice   24
1      Bob   28
2  Charlie   22

After deleting row with index 2:
     Name  Age
0  Alice   24
1    Bob   28

### Handle missing data: detect, fill, and drop

In [8]:
# Program 5: Handling Missing Data
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

DataFrame = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],  
                          # Name Column
                          "Age": [24, np.nan, 22],  
                          # Age Column With Missing Value
                          "Score": [85, 90, np.nan]})  
                          # Score Column With Missing Value
print("Original DataFrame with NaN values:\n", DataFrame, "\n")  
# Print DataFrame Containing NaN Values

# Detect missing values
print("Detect missing values:\n", DataFrame.isnull(), "\n")  
# Check And Display Missing Values As Boolean

# Fill missing values
print("Fill missing values:\n", DataFrame.fillna(0), "\n")  
# Replace NaN Values With 0

# Drop rows with missing values
print("Drop rows with missing values:\n", DataFrame.dropna(), "\n")  
# Remove Rows Containing Any NaN Values

Original DataFrame with NaN values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   NaN   90.0
2  Charlie  22.0    NaN

Detect missing values:
     Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True

Fill missing values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   0.0   90.0
2  Charlie  22.0    0.0

Drop rows with missing values:
     Name   Age  Score
0  Alice  24.0   85.0

### Alignment and reindexing across DataFrames

In [9]:
# Program 6: Data Alignment and Reindexing
import pandas as pd                      # Import Pandas Library As pd

DataFrame1 = pd.DataFrame({"Score": [85, 90, 88]}, index=["Alice", "Bob", "Charlie"])  
# Create First DataFrame With Index
DataFrame2 = pd.DataFrame({"Score": [92, 80]}, index=["Bob", "David"])  
# Create Second DataFrame With Different Index

print("DataFrame 1:\n", DataFrame1, "\n")  
# Display First DataFrame
print("DataFrame 2:\n", DataFrame2, "\n")  
# Display Second DataFrame

# Automatic alignment in arithmetic
print("Adding df1 and df2:\n", DataFrame1 + DataFrame2, "\n")  
# Add DataFrames; Aligns By Index Automatically

# Reindexing
DataFrameReindexed = DataFrame1.reindex(["Alice", "Bob", "Charlie", "David"], fill_value=0)  
# Reindex df1, Fill Missing With 0
print("Reindexed DataFrame:\n", DataFrameReindexed, "\n")  
# Display Reindexed DataFrame

DataFrame 1:
          Score
Alice       85
Bob         90
Charlie     88

DataFrame 2:
        Score
Bob       92
David     80

Adding df1 and df2:
          Score
Alice      NaN
Bob      182.0
Charlie    NaN
David      NaN

Reindexed DataFrame:
          Score
Alice       85
Bob         90
Charlie     88
David        0

### Sort by column and compute GroupBy means

In [10]:
# Program 7: Sorting and Grouping
import pandas as pd                      # Import Pandas Library As pd

Data = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],  
        # Name Column
        "Age": [24, 27, 22, 30, 28],     # Age Column
        "Score": [85, 90, 88, 95, 89]}  # Score Column
DataFrame = pd.DataFrame(Data)           # Create DataFrame From Dictionary

print("Original DataFrame:\n", DataFrame, "\n")  
# Display Original DataFrame

# Sorting by column
print("Sorted by Score:\n", DataFrame.sort_values(by="Score"), "\n")  
# Sort DataFrame Based On Score Column

# Grouping data
Grouped = DataFrame.groupby("Age")["Score"].mean()  
# Group By Age And Compute Mean Score

print("Average score grouped by Age:\n", Grouped, "\n")  
# Display Grouped Average Scores

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

Sorted by Score:
       Name  Age  Score
0    Alice   24     85
2  Charlie   22     88
4      Eva   28     89
1      Bob   27     90
3    David   30     95

Average score grouped by Age:
 Age
22    88.0
24    85.0
27    90.0
28    89.0
30    95.0
Name: Score, dtype: float64

### Group Series by category and inspect groups

In [11]:
# Grouping Example
# A. Series
import pandas as pd                      # Import Pandas Library As pd

# Salary series
Salary = pd.Series([50000, 55000, 60000, 62000],  
                   # Series Of Salaries
                   index=["Alice", "Bob", "Charlie", "David"])  
                   # Index Represents Employee Names

# Department for each person
Department = pd.Series(["HR", "HR", "IT", "IT"],  
                       # Series Representing Department
                       index=["Alice", "Bob", "Charlie", "David"])  
                       # Index Matches Salary Series

# Grouping by department (no aggregation yet)
GroupedSeries = Salary.groupby(Department)  
# Group Salaries By Department Without Aggregation

print("Grouped Series (just groups, no aggregation):\n", GroupedSeries, "\n")  
# Print Grouped Object (No Calculation Yet)

# You can access a group
print("HR group in Series:\n", GroupedSeries.get_group("HR"), "\n")  
# Display Salaries For HR Department

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x000001EA800DF110>

HR group in Series:
 Alice    50000
Bob      55000
dtype: int64

### Aggregate grouped Series (mean, sum, max)

In [12]:
# Aggregation Example
# A. Series
# Aggregation on grouped Series
AggregatedSeries = GroupedSeries.mean()  
# Compute Mean Salary Per Department

print("Aggregated Series (mean salary per department):\n", AggregatedSeries, "\n")  
# Display Mean Salary For Each Department

# Other aggregations
print("Sum per department:\n", GroupedSeries.sum(), "\n")  
# Compute Total Salary Per Department

print("Max per department:\n", GroupedSeries.max(), "\n")  
# Compute Maximum Salary Per Department

Aggregated Series (mean salary per department):
 HR    52500.0
IT    61000.0
dtype: float64

Sum per department:
 HR    105000
IT    122000
dtype: int64

Max per department:
 HR    55000
IT    62000
dtype: int64

### Group and aggregate Series (single & MultiIndex)

In [13]:
# Example: Grouping and Aggregating for Series / MultiLevel Series
import pandas as pd                      # Import Pandas Library As pd

# Single Series
Salary = pd.Series([50000, 55000, 60000, 62000],  
                   # Salary Values
                   index=["Alice", "Bob", "Charlie", "David"])  
                   # Employee Names As Index
Department = pd.Series(["HR", "HR", "IT", "IT"],  
                       # Department For Each Employee
                       index=["Alice", "Bob", "Charlie", "David"])  
                       # Align With Salary Index

# Grouping salaries by department and calculating mean
GroupedSeries = Salary.groupby(Department).mean()  
# Group Salary By Department And Compute Mean

print("Mean salary by department (Series):\n", GroupedSeries, "\n")  
# Display Mean Salary Per Department

# MultiLevel Series
Arrays = [
    ["HR", "HR", "IT", "IT"],             # Departments For MultiIndex
    ["Alice", "Bob", "Charlie", "David"]  # Employees For MultiIndex
]
IndexVar = pd.MultiIndex.from_arrays(Arrays, names=("Dept", "Employee"))  
# Create MultiIndex For Series

MultiSeriesLevel = pd.Series([50000, 55000, 60000, 62000], index=IndexVar)  
# MultiLevel Series With Salary Values

# Group by first level (Dept)
GroupedMulti = MultiSeriesLevel.groupby(level=0).mean()  
# Compute Mean Salary By Department

print("Mean salary by department (MultiLevel Series):\n", GroupedMulti, "\n")  
# Display Grouped Mean Salary

Mean salary by department (Series):
 HR    52500.0
IT    61000.0
dtype: float64

Mean salary by department (MultiLevel Series):
 Dept
HR    52500.0
IT    61000.0
dtype: float64

### Group DataFrame and inspect a specific group

In [14]:
# Grouping (DataFrame)
import pandas as pd                      # Import Pandas Library As pd

# DataFrame
DataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],  
    # Department Column
    "Employee": ["Alice", "Bob", "Charlie", "David"],  
    # Employee Column
    "Salary": [50000, 55000, 60000, 62000]  
    # Salary Column
})
# Create DataFrame With Department, Employee, Salary

# Grouping by Department
GroupedDataFrame = DataFrame.groupby("Department")  
# Group DataFrame By Department Column

print("Grouped DataFrame (just groups, no aggregation):\n", GroupedDataFrame, "\n")  
# Print Grouped Object (No Aggregation Yet)

# Accessing one group
print("HR group in DataFrame:\n", GroupedDataFrame.get_group("HR"), "\n")  
# Display Rows Belonging To HR Group

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EA800DF110>

HR group in DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         HR      Bob   55000

### Aggregate grouped DataFrame (mean, sum, max)

In [15]:
# Aggregating DataFrame
# Aggregation on grouped DataFrame
AggregatedDataFrame = GroupedDataFrame["Salary"].mean()  
# Compute Mean Salary For Each Department

print("Aggregated DataFrame (mean salary per department):\n", AggregatedDataFrame, "\n")  
# Display Mean Salary Per Department

# Multiple aggregations on DataFrame
MultiAggDataFrame = GroupedDataFrame.agg({
    "Salary": ["mean", "sum", "max"]  
    # Compute Mean, Sum, And Max
})
print("Aggregated DataFrame (multiple stats):\n", MultiAggDataFrame, "\n")  
# Display Multiple Aggregation Statistics

Aggregated DataFrame (mean salary per department):
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
HR          52500.0  105000  55000
IT          61000.0  122000  62000

### GroupBy aggregations and filter by condition

In [16]:
import pandas as pd                      # Import Pandas Library As pd

# ------------------------------------------
# Sample DataFrame
# ------------------------------------------
DataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],  
    # Department Column
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],  
    # Employee Names Column
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000],  
    # Salary Column
    "Bonus": [5000, 6000, 7000, 8000, 5500, 7500]  
    # Bonus Column
})
print("Original DataFrame:\n", DataFrame, "\n")  
# Display Original DataFrame

# ------------------------------------------
# Grouping by Department (no aggregation yet)
# ------------------------------------------
Grouped = DataFrame.groupby("Department")  
# Group DataFrame By Department Column

print("Groups formed:\n", Grouped.groups, "\n")  
# Display Indices Of Each Group

# Access a specific group
print("HR group:\n", Grouped.get_group("HR"), "\n")  
# Display Rows Belonging To HR Group

# ------------------------------------------
# Aggregating after grouping
# ------------------------------------------
# 1. Single aggregation function (mean salary)
MeanSalary = Grouped["Salary"].mean()  
# Compute Mean Salary Per Department

print("Mean Salary per Department:\n", MeanSalary, "\n")  
# Display Mean Salary Per Department

# 2. Multiple aggregation functions
AggStats = Grouped.agg({
    "Salary": ["mean", "max", "min"],  
    # Compute Mean, Max, Min Salary
    "Bonus": ["sum", "mean"]  
    # Compute Sum And Mean Bonus
})
print("Aggregated stats per Department:\n", AggStats, "\n")  
# Display Aggregated Statistics Per Department

# ------------------------------------------
# Optional: filtering groups (e.g., mean salary > 55000)
# ------------------------------------------
HighSalaryDept = Grouped.filter(lambda X: X["Salary"].mean() > 55000)  
# Keep Groups With Mean Salary > 55000

print("Departments with mean salary > 55000:\n", HighSalaryDept, "\n")  
# Display Groups Meeting The Salary Condition

Original DataFrame:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
4         HR      Eva   58000   5500
5         IT    Frank   61000   7500

Groups formed:
 {'HR': [0, 1, 4], 'IT': [2, 3, 5]}

HR group:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
4         HR      Eva   58000   5500

Mean Salary per Department:
 Department
HR    54333.333333
IT    61000.000000
Name: Salary, dtype: float64

Aggregated stats per Department:
                   Salary                Bonus
                    mean    max    min    sum    mean
Department
HR          54333.333333  58000  50000  16500  5500.0
IT          61000.000000  62000  60000  22500  7500.0

Departments with mean salary > 55000:
   Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
5         IT    Frank   61000   7500

Difference between grouping/ aggregating in series and dataframes
#In grouping, a Series can be grouped only by another Series or index level, while a DataFrame can be grouped by one or more columns.

Series aggregation operates on a single column and returns a Series, whereas DataFrame aggregation can operate on multiple columns and return a DataFrame.

Series is simpler and suitable for single-column data, while DataFrame is more powerful for handling complex, multi-column datasets.

### Prepare Series and group by category

In [17]:
# Series
import pandas as pd                      # Import Pandas Library As pd

Salary = pd.Series([50000, 55000, 60000, 62000],  
                   # Create Series For Salaries
                   index=["Alice","Bob","Charlie","David"])  
                   # Index Represents Employee Names

Department = pd.Series(["HR","HR","IT","IT"],  
                       # Series Representing Department
                       index=["Alice","Bob","Charlie","David"])  
                       # Aligns With Salary Series Index

GroupedSeries = Salary.groupby(Department)  
# Group Salary Series By Department

### Build DataFrame and group by column

In [18]:
# DataFrame
DataFrame = pd.DataFrame({
    "Department":["HR","HR","IT","IT"],  
    # Department Column
    "Employee":["Alice","Bob","Charlie","David"],  
    # Employee Names Column
    "Salary":[50000,55000,60000,62000]  
    # Salary Column
})  
# Create DataFrame With Multiple Columns

GroupedDataFrame = DataFrame.groupby("Department")  
# Group DataFrame By Department Column

### Compare Series vs DataFrame grouping and aggregation

In [19]:
import pandas as pd                      # Import Pandas Library As pd

# ------------------------------------------
# 1. Series Example
# ------------------------------------------
SalarySeries = pd.Series([50000, 55000, 60000, 62000],  
                         # Create Series For Salaries
                         index=["Alice", "Bob", "Charlie", "David"])  
                         # Index Represents Employee Names

DepartmentSeries = pd.Series(["HR", "HR", "IT", "IT"],  
                             # Series For Department Of Each Employee
                             index=["Alice", "Bob", "Charlie", "David"])  
                             # Aligns With Salary Series

# Grouping (creates groups, no aggregation yet)
GroupedSeries = SalarySeries.groupby(DepartmentSeries)  
# Group Salary Series By Department

print("Grouped Series (no aggregation):")  
# Display Grouped Series Information
for Dept, Group in GroupedSeries:  
    # Iterate Over Each Department Group
    print(f"{Dept}: {Group.values}")  
    # Print Department Name And Salary Values
print()  

# Aggregating (mean per department)
AggregatedSeries = GroupedSeries.mean()  
# Compute Mean Salary Per Department

print("Aggregated Series (mean salary per department):")  
# Display Aggregated Mean Salary
print(AggregatedSeries)  
# Print Mean Salary Series
print("\n" + "="*50 + "\n")  
# Separator For Readability

# ------------------------------------------
# 2. DataFrame Example
# ------------------------------------------
DataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],  
    # Department Column
    "Employee": ["Alice", "Bob", "Charlie", "David"],  
    # Employee Names Column
    "Salary": [50000, 55000, 60000, 62000],  
    # Salary Column
    "Bonus": [5000, 6000, 7000, 8000]  
    # Bonus Column
})  
# Create DataFrame With Multiple Columns

# Grouping by Department (creates groups)
GroupedDataFrame = DataFrame.groupby("Department")  
# Group DataFrame By Department Column

print("Grouped DataFrame (no aggregation):")  
# Display Grouped DataFrame
for Dept, Group in GroupedDataFrame:  
    # Iterate Over Each Department Group
    print(f"{Dept} group:\n{Group}\n")  
    # Print Group Name And Its Rows

# Aggregating (mean and sum for numeric columns)
AggregatedDataFrame = GroupedDataFrame.agg({
    "Salary": ["mean", "sum"],  
    # Compute Mean And Sum For Salary
    "Bonus": ["mean", "sum"]  
    # Compute Mean And Sum For Bonus
})  
print("Aggregated DataFrame (Salary and Bonus stats per Department):")  
# Display Aggregated Statistics
print(AggregatedDataFrame)  
# Print DataFrame With Aggregated Stats

Grouped Series (no aggregation):
HR: [50000 55000]
IT: [60000 62000]

Aggregated Series (mean salary per department):
HR    52500.0
IT    61000.0
dtype: float64

==================================================

Grouped DataFrame (no aggregation):
HR group:
  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000

IT group:
  Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000

Aggregated DataFrame (Salary and Bonus stats per Department):
             Salary           Bonus
               mean     sum    mean    sum
Department
HR          52500.0  105000  5500.0  11000
IT          61000.0  122000  7500.0  15000

### Merge DataFrames (inner and outer joins)

In [20]:
# Merging DataFrames
import pandas as pd                      # Import Pandas Library As pd

# DataFrame 1
DataFrame1 = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "David"],  
    # Employee Names Column
    "Department": ["HR", "IT", "HR", "IT"]  
    # Department Column
})  
# Create First DataFrame

# DataFrame 2
DataFrame2 = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "Eva"],  
    # Employee Names Column
    "Salary": [50000, 60000, 55000, 58000]  
    # Salary Column
})  
# Create Second DataFrame

# Inner merge (only common employees)
InnerMerge = pd.merge(DataFrame1, DataFrame2, on="Employee", how="inner")  
# Merge On Employee, Keep Common Rows Only

print("Inner Merge:\n", InnerMerge, "\n")  
# Display Result Of Inner Merge

# Outer merge (all employees)
OuterMerge = pd.merge(DataFrame1, DataFrame2, on="Employee", how="outer")  
# Merge On Employee, Keep All Rows

print("Outer Merge:\n", OuterMerge, "\n")  
# Display Result Of Outer Merge

Inner Merge:
   Employee Department  Salary
0    Alice         HR   50000
1      Bob         IT   60000
2  Charlie         HR   55000

Outer Merge:
   Employee Department   Salary
0    Alice         HR  50000.0
1      Bob         IT  60000.0
2  Charlie         HR  55000.0
3    David         IT      NaN
4      Eva        NaN  58000.0

### Merge on different key names (left_on/right_on)

In [21]:
# Merging on different key columns
# Can merge using left_on/right_on

import pandas as pd                      # Import Pandas Library As pd

DataFrame1 = pd.DataFrame({
    "EmpID": [1, 2, 3],  
    # Employee ID Column
    "Name": ["Alice", "Bob", "Charlie"]  
    # Employee Names Column
})  
# Create First DataFrame

DataFrame2 = pd.DataFrame({
    "EmployeeID": [2, 3, 4],  
    # Employee ID Column (Different Name)
    "Salary": [60000, 55000, 58000]  
    # Salary Column
})  
# Create Second DataFrame

# Merge using different column names
MergedDataFrame = pd.merge(DataFrame1, DataFrame2, left_on="EmpID", right_on="EmployeeID", how="inner")  
# Merge DataFrames On Different Key Columns

print("Merge on different keys:\n", MergedDataFrame)  
# Display Merged DataFrame Result

Merge on different keys:
    EmpID     Name  EmployeeID  Salary
0      2      Bob           2   60000
1      3  Charlie           3   55000

### Merge with suffixes to resolve overlapping names

In [22]:
# Handling overlapping column names
# Use suffixes to avoid column conflicts

# If both DataFrames have same column names
# Pandas adds default _x and _y suffixes

# You can customize suffixes using parameter

import pandas as pd                      # Import Pandas Library As pd

DataFrame1 = pd.DataFrame({
    "Employee": ["Alice", "Bob"],  
    # Employee Names Column
    "Salary": [50000, 60000]  
    # Salary Column
})  
# Create First DataFrame

DataFrame2 = pd.DataFrame({
    "Employee": ["Bob", "Charlie"],  
    # Employee Names Column
    "Salary": [65000, 55000]  
    # Salary Column
})  
# Create Second DataFrame

# Merge with custom suffixes
MergedDataFrame = pd.merge(DataFrame1, DataFrame2, on="Employee", how="outer", suffixes=("_Old", "_New"))  
# Merge DataFrames, Add Custom Suffixes

print("Merge with custom suffixes:\n", MergedDataFrame)  
# Display Merged DataFrame Result

Merge with custom suffixes:
   Employee  Salary_Old  Salary_New
0    Alice     50000.0         NaN
1      Bob     60000.0     65000.0
2  Charlie         NaN     55000.0

### Merge DataFrames using indexes (left_index/right_index)

In [23]:
# Merging using indexes
# Merge DataFrames based on row index

import pandas as pd                      # Import Pandas Library As pd

DataFrame1 = pd.DataFrame({"Salary": [50000, 60000]}, index=["Alice", "Bob"])  
# Create First DataFrame With Index

DataFrame2 = pd.DataFrame({"Department": ["HR", "IT"]}, index=["Alice", "Bob"])  
# Create Second DataFrame With Index

# Merge using index
MergedIndexDataFrame = pd.merge(DataFrame1, DataFrame2, left_index=True, right_index=True)  
# Merge DataFrames Using Their Indexes

print("Merge using indexes:\n", MergedIndexDataFrame)  
# Display Merged DataFrame Result

Merge using indexes:
        Salary Department
Alice   50000         HR
Bob     60000         IT

#Summary table
df.pivot_table(values='NumericColumn', index='RowCategory', columns='ColumnCategory', aggfunc='mean')
values → numeric column to summarize

index → row labels

columns → column labels (optional)

aggfunc → aggregation function (mean, sum, count, etc.)

### Pivot table: mean by department and team

In [24]:
# Summary Tables using pivot_table
import pandas as pd                      # Import Pandas Library As pd

DataFrame = pd.DataFrame({
    "Department": ["HR","HR","IT","IT"],  
    # Department Column
    "Team": ["A","B","A","B"],  
    # Team Column
    "Salary": [50000,55000,60000,62000]  
    # Salary Column
})  
# Create DataFrame

Summary = DataFrame.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")  
# Create Pivot Table With Mean Salaries

print(Summary)  
# Display Pivot Table Result

Team              A        B
Department
HR          50000.0  55000.0
IT          60000.0  62000.0

### Pivot table: average salary by department and team

In [25]:
# Summary table using pivot_table
import pandas as pd                      # Import Pandas Library As pd

DataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],  
    # Department Column
    "Team": ["A", "B", "A", "B", "A", "B"],  
    # Team Column
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]  
    # Salary Column
})  
# Create DataFrame With Department, Team, Salary

# Pivot table: average salary by Department and Team
SummaryTable = DataFrame.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")  
# Compute Mean Salary By Department And Team

print("Summary Table (Average Salary):\n", SummaryTable)  
# Display Resulting Pivot Table

Summary Table (Average Salary):
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

### Pivot table with multiple aggregations (mean, sum, max)

In [26]:
# Pivot Table with Multiple Aggregation Functions
# Apply several functions at once

SummaryTableMulti = DataFrame.pivot_table(
    values="Salary",  
    # Column To Aggregate
    index="Department",  
    # Rows: Group By Department
    columns="Team",  
    # Columns: Group By Team
    aggfunc=["mean", "sum", "max"]  
    # Apply Multiple Aggregation Functions
)  
# Create Pivot Table With Multiple Stats

print("Pivot Table with Multiple Aggregations:\n", SummaryTableMulti)  
# Display Pivot Table With Aggregated Values

Pivot Table with Multiple Aggregations:
                mean              sum            max
Team              A        B       A       B      A      B
Department
HR          54000.0  55000.0  108000   55000  58000  55000
IT          60000.0  61500.0   60000  123000  60000  62000

### Pivot table with missing values filled (fill_value=0)

In [27]:
# Handling Missing Data in Pivot Table
# Fill missing combinations with specific value

SummaryTableFill = DataFrame.pivot_table(
    values="Salary",  
    # Column To Aggregate
    index="Department",  
    # Rows Grouped By Department
    columns="Team",  
    # Columns Grouped By Team
    aggfunc="mean",  
    # Use Mean As Aggregation Function
    fill_value=0  
    # Replace Missing Values With 0
)  
# Create Pivot Table With Filled Missing Values

print("Pivot Table with Missing Values Filled:\n", SummaryTableFill)  
# Display Pivot Table With No NaNs

Pivot Table with Missing Values Filled:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

### GroupBy + unstack equivalent to pivot table

In [28]:
#Grouping vs Pivot Tables

#Pivot tables are essentially groupby + aggregation + reshape in one step.

#They are easier to read when summarizing across two categorical variables.

# Equivalent using groupby
Grouped = DataFrame.groupby(["Department", "Team"])["Salary"].mean().unstack()
print("Equivalent using groupby + unstack:\n", Grouped)

Equivalent using groupby + unstack:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0