# Advanced Python Programming (APP)
## Course Code (CC) - CSI - 3007
### Laboratory (Lab)
#### Digital Assignment - 04

## Working On Pandas Series Task Job Work In Advanced Python Programming Lab
### Custom User Own Client Customer Individual Synthetic Dataset  
#### Python Programming Coding Scripting Computer Science Language
#### Jupyter Notebook Core Main Crux Framework Library Module Binary Package  

# Working On Pandas Series Task Job Work In Advanced Python Programming Lab
## Student: Dharshan Raj P A
## Register Roll Number ID: 22MIC0073
## Date: 01-11-2025

### Working On Pandas Series - Basic Operations

In [1]:
import pandas as pd                      # Import Pandas Library As pd

# Initializing a Series from a list
MixedDataList = [1, 2.3, 'a', 4, 5]        # Create List With Mixed Values
SeriesFromList = pd.Series(MixedDataList)  # Convert List Into Pandas Series
print(SeriesFromList)                      # Display The Created Series

0      1
1    2.3
2      a
3      4
4      5
dtype: object

### Creating DataFrame From Dictionary

In [2]:
# Creating a DataFrame
StudentRecordsData = {                                # Define Dictionary For DataFrame
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],      # List Of Student Names
    'Age': [23, 25, 22, 24],                          # List Of Corresponding Ages
    'Score': [85, 90, 78, 92]                         # List Of Corresponding Scores
}

StudentDataFrame = pd.DataFrame(StudentRecordsData)     # Create DataFrame Using Dictionary
print(StudentDataFrame)                                # Print The DataFrame Contents

      Name  Age  Score
0    Alice   23     85
1      Bob   25     90
2  Charlie   22     78
3    David   24     92

### Series Alignment Operations

In [3]:
# Series Alignment
SeriesOne = pd.Series([1, 2, 3], index=["a", "b", "c"])   # Series One With Custom Index
SeriesTwo = pd.Series([4, 5, 6], index=["b", "c", "d"])   # Series Two With Different Index
print(SeriesOne * SeriesTwo)                               # Multiply Aligned Indices Only

a     NaN
b     8.0
c    15.0
d     NaN
dtype: float64

In [ ]:
SeriesA = pd.Series([1, 2, 3])            # Create First Series With Numbers
SeriesB = pd.Series([4, 5, 6])            # Create Second Series With Numbers
SumSeries = SeriesA + SeriesB             # Add Corresponding Elements Of Series
print(SumSeries)                           # Print The Summed Series Result

0    5
1    7
2    9
dtype: int64

### MultiIndex Series - Creating From Arrays

In [ ]:
# Creating a MultiIndex Series
IndexArrays = [                               # Define Nested Lists For Index
    ['A', 'A', 'B', 'B'],                     # First Level: Alphabet Labels
    ['Math', 'Science', 'Math', 'Science']    # Second Level: Subject Labels
]
MultiIndexObject = pd.MultiIndex.from_arrays(IndexArrays, names=('Alphabet', 'Subject'))  
# Create MultiIndex From Arrays With Names

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex Values

print(MultiIndexSeries)                       # Print The MultiIndex Series

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

### MultiIndex Series - Creating From Tuples

In [ ]:
import pandas as pd                      # Import Pandas Library As pd  

IndexTuples = [('A', 'Math'), ('A', 'Science'), ('B', 'Math'), ('B', 'Science')]  
# Define List Of Tuple Pairs For Index

MultiIndexObject = pd.MultiIndex.from_tuples(IndexTuples, names=('Alphabet', 'Subject'))  
# Create MultiIndex Object From Tuple List

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex And Values

print(MultiIndexSeries)                      # Display MultiIndex Series Output

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

### MultiIndex Series - Creating From Product

In [ ]:
MultiIndexObject = pd.MultiIndex.from_product(             # Create MultiIndex Using Product
    [['A', 'B'], ['Math', 'Science']],                    # Cartesian Product Of Lists
    names=('Alphabet', 'Subject')                         # Assign Level Names
)

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex Values

print(MultiIndexSeries)                      # Display MultiIndex Series

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

### MultiIndex Series - Creating From DataFrame

In [ ]:
DataFrameForIndex = pd.DataFrame({                           # Create DataFrame With Two Columns
    'Alphabet': ['A', 'A', 'B', 'B'],                       # Column For Alphabet Labels
    'Subject': ['Math', 'Science', 'Math', 'Science']       # Column For Subject Labels
})
MultiIndexObject = pd.MultiIndex.from_frame(DataFrameForIndex, names=('Alphabet', 'Subject'))  
# Create MultiIndex Directly From DataFrame

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex Values

print(MultiIndexSeries)                      # Display MultiIndex Series

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

### Program 1: Creating MultiIndex Series In Different Ways

In [ ]:
# Program 1: Creating MultiIndex Series in different ways
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# From arrays
IndexArrays = [["A", "A", "B", "B"], ["Math", "Science", "Math", "Science"]]  
# Nested Lists For MultiIndex Levels
MultiIndexObject = pd.MultiIndex.from_arrays(IndexArrays, names=("Alphabet", "Subject"))  
# Create MultiIndex From Arrays
MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series Using MultiIndex
print("MultiIndex Series from arrays:\n", MultiIndexSeries, "\n")  
# Print Series

# From tuples
IndexTuples = [("A", "Math"), ("A", "Science"), ("B", "Math"), ("B", "Science")]  
# List Of Tuples For MultiIndex
MultiIndexObjectTwo = pd.MultiIndex.from_tuples(IndexTuples, names=("Alphabet", "Subject"))  
# Create MultiIndex From Tuples
MultiIndexSeriesTwo = pd.Series([70, 75, 80, 82], index=MultiIndexObjectTwo)  
# Create Series With Tuple-Based MultiIndex
print("MultiIndex Series from tuples:\n", MultiIndexSeriesTwo, "\n")  
# Print Series

# From product
IterablesList = [["A", "B"], ["Math", "Science"]]  
# Lists For Cartesian Product Of Levels
MultiIndexObjectThree = pd.MultiIndex.from_product(IterablesList, names=("Alphabet", "Subject"))  
# Create MultiIndex From Product
MultiIndexSeriesThree = pd.Series(np.random.randint(60, 100, size=4), index=MultiIndexObjectThree)  
# Random Series Using Product-Based MultiIndex
print("MultiIndex Series from product:\n", MultiIndexSeriesThree, "\n")  
# Print Series

MultiIndex Series from arrays:
 Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

MultiIndex Series from tuples:
 Alphabet  Subject
A         Math       70
          Science    75
B         Math       80
          Science    82
dtype: int64

MultiIndex Series from product:
 Alphabet  Subject
A         Math       94
          Science    76
B         Math       99
          Science    73
dtype: int32

### Program 2: Accessing And Indexing In MultiIndex Series

In [ ]:
# Program 2: Accessing and indexing in MultiIndex Series
import pandas as pd                      # Import Pandas Library As pd

IndexArrays = [["A", "A", "B", "B"], ["Math", "Science", "Math", "Science"]]  
# Nested Lists For MultiIndex Levels
MultiIndexObject = pd.MultiIndex.from_arrays(IndexArrays, names=("Alphabet", "Subject"))  
# Create MultiIndex From Arrays

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex

print("Access all subjects for 'A':\n", MultiIndexSeries.loc["A"], "\n")  
# Access All Entries For First Level "A"

print("Access specific element (B, Science):\n", MultiIndexSeries.loc[("B", "Science")], "\n")  
# Access Single Element Using Tuple Key

Access all subjects for 'A':
 Subject
Math       90
Science    85
dtype: int64

Access specific element (B, Science):
 92

### Program 3: Slicing In MultiIndex Series

In [ ]:
# Program 3: Slicing in MultiIndex Series
import pandas as pd                      # Import Pandas Library As pd

IndexArrays = [["A", "A", "B", "B"], ["Math", "Science", "Math", "Science"]]  
# Nested Lists For MultiIndex Levels
MultiIndexObject = pd.MultiIndex.from_arrays(IndexArrays, names=("Alphabet", "Subject"))  
# Create MultiIndex From Arrays

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex

print("Slicing from A to B:\n", MultiIndexSeries.loc["A":"B"], "\n")  
# Slice Series From First To Last Index

print("Partial slice for all Math:\n", MultiIndexSeries.loc[:, "Math"], "\n")  
# Slice Across First Level For Second Level "Math"

Slicing from A to B:
 Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

Partial slice for all Math:
 Alphabet
A    90
B    88
dtype: int64

### Program 4: Swapping And Reordering Levels

In [ ]:
# Program 4: Swapping and reordering levels
import pandas as pd                      # Import Pandas Library As pd

IndexArrays = [["A", "A", "B", "B"], ["Math", "Science", "Math", "Science"]]  
# Nested Lists For MultiIndex Levels
MultiIndexObject = pd.MultiIndex.from_arrays(IndexArrays, names=("Alphabet", "Subject"))  
# Create MultiIndex From Arrays

MultiIndexSeries = pd.Series([90, 85, 88, 92], index=MultiIndexObject)  
# Create Series With MultiIndex

print("Swapping levels:\n", MultiIndexSeries.swaplevel(), "\n")  
# Swap First And Second MultiIndex Levels

print("Reordering levels:\n", MultiIndexSeries.reorder_levels(["Subject", "Alphabet"]), "\n")  
# Reorder Levels In Custom Order

Swapping levels:
 Subject  Alphabet
Math     A           90
Science  A           85
Math     B           88
Science  B           92
dtype: int64

Reordering levels:
 Subject  Alphabet
Math     A           90
Science  A           85
Math     B           88
Science  B           92
dtype: int64

### Program 5: Passing Arrays Directly To Create MultiIndex In Series/DataFrame

In [ ]:
# Program 5: Passing arrays directly to create MultiIndex in Series/DataFrame
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# Series with automatic MultiIndex
MultiSeriesAuto = pd.Series(
    np.random.randn(4),                  # Generate 4 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["A", "A", "B", "B"], ["X", "Y", "X", "Y"]])  
    # Create MultiIndex Directly From Arrays
)
print("MultiIndex Series constructed automatically:\n", MultiSeriesAuto, "\n")  
# Print Automatically Created MultiIndex Series

# DataFrame with automatic MultiIndex
DataFrameAuto = pd.DataFrame(
    np.random.randn(4, 2),               # Generate 4x2 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["Group1", "Group1", "Group2", "Group2"],
                                     ["One", "Two", "One", "Two"]]),  
    # Create MultiIndex For DataFrame Rows
    columns=["Score1", "Score2"]         # Assign Column Names
)
print("DataFrame with MultiIndex automatically:\n", DataFrameAuto, "\n")  
# Print DataFrame With Automatic MultiIndex

MultiIndex Series constructed automatically:
 A  X    0.754172
   Y    1.477991
B  X    0.022639
   Y   -0.288925
dtype: float64

DataFrame with MultiIndex automatically:
               Score1    Score2
Group1 One -0.077514 -2.301044
       Two -0.915057  0.064060
Group2 One -0.397150 -0.184199
       Two -0.581655 -1.864175

### Program 6: Data Alignment And Reindexing With MultiIndex

In [ ]:
# Program 6: Data alignment and reindexing with MultiIndex
import pandas as pd                      # Import Pandas Library As pd

SubjectDataFrame = pd.DataFrame({
    "Math": [85, 90, 95, 80],           # Math Scores For Each Row
    "Science": [82, 88, 92, 84]         # Science Scores For Each Row
}, index=pd.MultiIndex.from_arrays([["A", "A", "B", "B"], ["one", "two", "one", "two"]]))  
# Create DataFrame With MultiIndex Rows

print("Original DataFrame:\n", SubjectDataFrame, "\n")  
# Print Original DataFrame

# Group by first level and compute mean
MeanByGroup = SubjectDataFrame.groupby(level=0).mean()  
# Compute Mean Values By First Index Level

print("Mean by group:\n", MeanByGroup, "\n")  
# Display Group Mean

# Reindexing with MultiIndex
AlignedDataFrame = MeanByGroup.reindex(SubjectDataFrame.index, level=0)  
# Align Group Means To Original MultiIndex Rows

print("Reindexed to align with original index:\n", AlignedDataFrame, "\n")  
# Display Reindexed DataFrame

Original DataFrame:
        Math  Science
A one    85       82
  two    90       88
B one    95       92
  two    80       84

Mean by group:
    Math  Science
A  87.5     85.0
B  87.5     88.0

Reindexed to align with original index:
        Math  Science
A one  87.5     85.0
  two  87.5     85.0
B one  87.5     88.0
  two  87.5     88.0

### Program 8: Sorting MultiIndex And Removing Unused Levels

In [ ]:
# Program 8: Sorting MultiIndex and removing unused levels
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# Unsorted MultiIndex Series
UnsortedMultiSeries = pd.Series(
    np.random.randn(4),                  # Generate 4 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["B", "A", "B", "A"], ["X", "Y", "Y", "X"]])  
    # Create MultiIndex With Unsorted Values
)
print("Unsorted MultiIndex Series:\n", UnsortedMultiSeries, "\n")  
# Display Unsorted MultiIndex Series

print("Sorted by index:\n", UnsortedMultiSeries.sort_index(), "\n")  
# Display Series Sorted By MultiIndex

# Removing unused levels
MultiIndexDataFrame = pd.DataFrame(
    np.random.randn(4, 2),               # Generate 4x2 Random Float Numbers
    index=pd.MultiIndex.from_arrays([["Group1", "Group1", "Group2", "Group2"], ["One", "Two", "One", "Two"]]),  
    # MultiIndex For Rows
    columns=pd.MultiIndex.from_arrays([["Score1", "Score2"], ["X", "Y"]])  
    # MultiIndex For Columns
)
print("Before removing unused levels:\n", MultiIndexDataFrame.columns.levels, "\n")  
# Display Column Levels Before Removing

SubDataFrame = MultiIndexDataFrame[["Score1"]]                   # Drop Column Score2
print("After removing unused levels:\n", SubDataFrame.columns.remove_unused_levels().levels, "\n")  
# Remove And Display Unused Column Levels

Unsorted MultiIndex Series:
 B  X   -0.559682
A  Y    0.573113
B  Y    1.664390
A  X   -0.224173
dtype: float64

Sorted by index:
 A  X   -0.224173
   Y    0.573113
B  X   -0.559682
   Y    1.664390
dtype: float64

Before removing unused levels:
 [['Score1', 'Score2'], ['X', 'Y']]

After removing unused levels:
 [['Score1'], ['X']]

### Creating DataFrames Different Ways

### Program 1: Creating DataFrames (Different Ways)

In [ ]:
# Program 1: Creating DataFrames (different ways)
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

# ------------------------------------------
# 1. From dictionary of lists
# ------------------------------------------
DataDictLists = {"Name": ["Alice", "Bob", "Charlie"],  # Dictionary With Lists
                 "Age": [24, 27, 22],                 # Age List
                 "Score": [85, 90, 88]}               # Score List
DataFrameFromLists = pd.DataFrame(DataDictLists)       # Create DataFrame From Dictionary
print("DataFrame from dictionary of lists:\n", DataFrameFromLists, "\n")  
# Print DataFrame

# ------------------------------------------
# 2. From dictionary of Series
# ------------------------------------------
DataDictSeries = {"Math": pd.Series([90, 80, 85], index=["Alice", "Bob", "Charlie"]),  
                  # Math Scores As Series
                  "Science": pd.Series([88, 92, 84], index=["Alice", "Bob", "Charlie"])}  
                  # Science Scores As Series
DataFrameFromSeries = pd.DataFrame(DataDictSeries)     # Create DataFrame From Dictionary Of Series
print("DataFrame from dictionary of Series:\n", DataFrameFromSeries, "\n")  
# Print DataFrame

# ------------------------------------------
# 3. From NumPy array
# ------------------------------------------
DataFrameFromArray = pd.DataFrame(np.arange(9).reshape(3, 3),  # Create 3x3 Array
                                  columns=["Col1", "Col2", "Col3"])  
                                  # Assign Column Names
print("DataFrame from NumPy array:\n", DataFrameFromArray, "\n")  
# Print DataFrame

DataFrame from dictionary of lists:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

DataFrame from dictionary of Series:
          Math  Science
Alice      90       88
Bob        80       92
Charlie    85       84

DataFrame from NumPy array:
    Col1  Col2  Col3
0     0     1     2
1     3     4     5
2     6     7     8

### Program 2: Accessing Rows And Columns

In [ ]:
# Program 2: Accessing rows and columns
import pandas as pd                      # Import Pandas Library As pd

StudentRecordsData = {"Name": ["Alice", "Bob", "Charlie", "David"],  
                     # Name Column
                     "Age": [24, 27, 22, 30],        # Age Column
                     "Score": [85, 90, 88, 95]}      # Score Column
StudentDataFrame = pd.DataFrame(StudentRecordsData)   # Create DataFrame From Dictionary

print("Original DataFrame:\n", StudentDataFrame, "\n")  
# Print Original DataFrame

# Access single column
print("Accessing single column (Score):\n", StudentDataFrame["Score"], "\n")  
# Access Column "Score" Using Key

# Access multiple columns
print("Accessing multiple columns:\n", StudentDataFrame[["Name", "Age"]], "\n")  
# Access Multiple Columns Using List Of Names

# Access row by index label
print("Access row using loc:\n", StudentDataFrame.loc[2], "\n")  
# Access Row Using Label-Based loc

# Access row by integer location
print("Access row using iloc:\n", StudentDataFrame.iloc[1], "\n")  
# Access Row Using Integer-Based iloc

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95

Accessing single column (Score):
 0    85
1    90
2    88
3    95
Name: Score, dtype: int64

Accessing multiple columns:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   30

Access row using loc:
 Name     Charlie
Age           22
Score         88
Name: 2, dtype: object

Access row using iloc:
 Name     Bob
Age       27
Score     90
Name: 1, dtype: object

### Program 3: Indexing And Slicing

In [ ]:
# Program 3: Indexing and Slicing
import pandas as pd                      # Import Pandas Library As pd

StudentRecordsData = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],  
                     # Name Column
                     "Age": [24, 27, 22, 30, 28],      # Age Column
                     "Score": [85, 90, 88, 95, 89]}   # Score Column
StudentDataFrame = pd.DataFrame(StudentRecordsData)   # Create DataFrame From Dictionary

print("Original DataFrame:\n", StudentDataFrame, "\n")  
# Print Original DataFrame

# Slicing rows
print("First three rows:\n", StudentDataFrame[:3], "\n")  
# Slice First Three Rows Using Standard Indexing

# Slicing specific rows using loc
print("Rows 1 to 3:\n", StudentDataFrame.loc[1:3], "\n")  
# Slice Rows By Label Using loc

# Slicing specific columns
print("Columns Name and Score:\n", StudentDataFrame.loc[:, ["Name", "Score"]], "\n")  
# Select Specific Columns Using loc

# Conditional selection
print("Rows where Score > 88:\n", StudentDataFrame[StudentDataFrame["Score"] > 88], "\n")  
# Select Rows Where Score Greater Than 88

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

First three rows:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

Rows 1 to 3:
       Name  Age  Score
1      Bob   27     90
2  Charlie   22     88
3    David   30     95

Columns Name and Score:
       Name  Score
0    Alice     85
1      Bob     90
2  Charlie     88
3    David     95
4      Eva     89

Rows where Score > 88:
     Name  Age  Score
1    Bob   27     90
3  David   30     95
4    Eva   28     89

### Program 4: Adding, Updating, And Deleting Data

In [ ]:
# Program 4: Adding, Updating, and Deleting Data
import pandas as pd                      # Import Pandas Library As pd

StudentDataFrame = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],  
                                # Name Column
                                "Age": [24, 27, 22]})  
                                # Age Column
print("Original DataFrame:\n", StudentDataFrame, "\n")  
# Print Original DataFrame

# Adding new column
StudentDataFrame["Score"] = [85, 90, 88]              # Add Score Column To DataFrame
print("After adding Score column:\n", StudentDataFrame, "\n")  
# Display DataFrame After Adding Column

# Updating values
StudentDataFrame.at[1, "Age"] = 28                     # Update Age For Index 1 (Bob)
print("After updating Age of Bob:\n", StudentDataFrame, "\n")  
# Display DataFrame After Updating Value

# Deleting column
StudentDataFrame = StudentDataFrame.drop("Score", axis=1)  # Drop Score Column
print("After deleting Score column:\n", StudentDataFrame, "\n")  
# Display DataFrame After Column Deletion

# Deleting row
StudentDataFrame = StudentDataFrame.drop(2, axis=0)      # Drop Row With Index 2
print("After deleting row with index 2:\n", StudentDataFrame, "\n")  
# Display DataFrame After Row Deletion

Original DataFrame:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

After adding Score column:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

After updating Age of Bob:
       Name  Age  Score
0    Alice   24     85
1      Bob   28     90
2  Charlie   22     88

After deleting Score column:
       Name  Age
0    Alice   24
1      Bob   28
2  Charlie   22

After deleting row with index 2:
     Name  Age
0  Alice   24
1    Bob   28

### Program 5: Handling Missing Data

In [ ]:
# Program 5: Handling Missing Data
import pandas as pd                      # Import Pandas Library As pd
import numpy as np                       # Import NumPy Library As np

StudentDataFrame = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],  
                                # Name Column
                                "Age": [24, np.nan, 22],  
                                # Age Column With Missing Value
                                "Score": [85, 90, np.nan]})  
                                # Score Column With Missing Value
print("Original DataFrame with NaN values:\n", StudentDataFrame, "\n")  
# Print DataFrame Containing NaN Values

# Detect missing values
print("Detect missing values:\n", StudentDataFrame.isnull(), "\n")  
# Check And Display Missing Values As Boolean

# Fill missing values
print("Fill missing values:\n", StudentDataFrame.fillna(0), "\n")  
# Replace NaN Values With 0

# Drop rows with missing values
print("Drop rows with missing values:\n", StudentDataFrame.dropna(), "\n")  
# Remove Rows Containing Any NaN Values

Original DataFrame with NaN values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   NaN   90.0
2  Charlie  22.0    NaN

Detect missing values:
     Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True

Fill missing values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   0.0   90.0
2  Charlie  22.0    0.0

Drop rows with missing values:
     Name   Age  Score
0  Alice  24.0   85.0

### Program 6: Data Alignment And Reindexing

In [ ]:
# Program 6: Data Alignment and Reindexing
import pandas as pd                      # Import Pandas Library As pd

ScoreDataFrameOne = pd.DataFrame({"Score": [85, 90, 88]}, index=["Alice", "Bob", "Charlie"])  
# Create First DataFrame With Index
ScoreDataFrameTwo = pd.DataFrame({"Score": [92, 80]}, index=["Bob", "David"])  
# Create Second DataFrame With Different Index

print("DataFrame 1:\n", ScoreDataFrameOne, "\n")  
# Display First DataFrame
print("DataFrame 2:\n", ScoreDataFrameTwo, "\n")  
# Display Second DataFrame

# Automatic alignment in arithmetic
print("Adding df1 and df2:\n", ScoreDataFrameOne + ScoreDataFrameTwo, "\n")  
# Add DataFrames; Aligns By Index Automatically

# Reindexing
ReindexedDataFrame = ScoreDataFrameOne.reindex(["Alice", "Bob", "Charlie", "David"], fill_value=0)  
# Reindex df1, Fill Missing With 0
print("Reindexed DataFrame:\n", ReindexedDataFrame, "\n")  
# Display Reindexed DataFrame

DataFrame 1:
          Score
Alice       85
Bob         90
Charlie     88

DataFrame 2:
        Score
Bob       92
David     80

Adding df1 and df2:
          Score
Alice      NaN
Bob      182.0
Charlie    NaN
David      NaN

Reindexed DataFrame:
          Score
Alice       85
Bob         90
Charlie     88
David        0

### Program 7: Sorting And Grouping

In [ ]:
# Program 7: Sorting and Grouping
import pandas as pd                      # Import Pandas Library As pd

StudentRecordsData = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],  
                     # Name Column
                     "Age": [24, 27, 22, 30, 28],     # Age Column
                     "Score": [85, 90, 88, 95, 89]}  # Score Column
StudentDataFrame = pd.DataFrame(StudentRecordsData)   # Create DataFrame From Dictionary

print("Original DataFrame:\n", StudentDataFrame, "\n")  
# Display Original DataFrame

# Sorting by column
print("Sorted by Score:\n", StudentDataFrame.sort_values(by="Score"), "\n")  
# Sort DataFrame Based On Score Column

# Grouping data
GroupedByAge = StudentDataFrame.groupby("Age")["Score"].mean()  
# Group By Age And Compute Mean Score
print("Average score grouped by Age:\n", GroupedByAge, "\n")  
# Display Grouped Average Scores

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

Sorted by Score:
       Name  Age  Score
0    Alice   24     85
2  Charlie   22     88
4      Eva   28     89
1      Bob   27     90
3    David   30     95

Average score grouped by Age:
 Age
22    88.0
24    85.0
27    90.0
28    89.0
30    95.0
Name: Score, dtype: float64

### Grouping Example - Series

In [ ]:
# Grouping Example
# A. Series
import pandas as pd                      # Import Pandas Library As pd

# Salary series
SalarySeries = pd.Series([50000, 55000, 60000, 62000],  
                        # Series Of Salaries
                        index=["Alice", "Bob", "Charlie", "David"])  
                        # Index Represents Employee Names

# Department for each person
DepartmentSeries = pd.Series(["HR", "HR", "IT", "IT"],  
                             # Series Representing Department
                             index=["Alice", "Bob", "Charlie", "David"])  
                             # Index Matches Salary Series

# Grouping by department (no aggregation yet)
GroupedSeriesObject = SalarySeries.groupby(DepartmentSeries)  
# Group Salaries By Department Without Aggregation

print("Grouped Series (just groups, no aggregation):\n", GroupedSeriesObject, "\n")  
# Print Grouped Object (No Calculation Yet)

# You can access a group
print("HR group in Series:\n", GroupedSeriesObject.get_group("HR"), "\n")  
# Display Salaries For HR Department

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x000002739BA634D0>

HR group in Series:
 Alice    50000
Bob      55000
dtype: int64

### Aggregation Example - Series

In [ ]:
# Aggregation Example
# A. Series
# Aggregation on grouped Series
AggregatedSeries = GroupedSeriesObject.mean()  
# Compute Mean Salary Per Department
print("Aggregated Series (mean salary per department):\n", AggregatedSeries, "\n")  
# Display Mean Salary For Each Department

# Other aggregations
print("Sum per department:\n", GroupedSeriesObject.sum(), "\n")  
# Compute Total Salary Per Department
print("Max per department:\n", GroupedSeriesObject.max(), "\n")  
# Compute Maximum Salary Per Department

Aggregated Series (mean salary per department):
 HR    52500.0
IT    61000.0
dtype: float64

Sum per department:
 HR    105000
IT    122000
dtype: int64

Max per department:
 HR    55000
IT    62000
dtype: int64

### Grouping And Aggregating For Series And MultiLevel Series

In [ ]:
# Example: Grouping and Aggregating for Series / MultiLevel Series
import pandas as pd                      # Import Pandas Library As pd

# Single Series
SalarySeriesSingle = pd.Series([50000, 55000, 60000, 62000],  
                               # Salary Values
                               index=["Alice", "Bob", "Charlie", "David"])  
                               # Employee Names As Index

DepartmentSeriesSingle = pd.Series(["HR", "HR", "IT", "IT"],  
                                  # Department For Each Employee
                                  index=["Alice", "Bob", "Charlie", "David"])  
                                  # Align With Salary Index

# Grouping salaries by department and calculating mean
GroupedSeriesSingle = SalarySeriesSingle.groupby(DepartmentSeriesSingle).mean()  
# Group Salary By Department And Compute Mean
print("Mean salary by department (Series):\n", GroupedSeriesSingle, "\n")  
# Display Mean Salary Per Department

# MultiLevel Series
MultiLevelArrays = [
    ["HR", "HR", "IT", "IT"],             # Departments For MultiIndex
    ["Alice", "Bob", "Charlie", "David"]  # Employees For MultiIndex
]
MultiLevelIndex = pd.MultiIndex.from_arrays(MultiLevelArrays, names=("Dept", "Employee"))  
# Create MultiIndex For Series

MultiLevelSeries = pd.Series([50000, 55000, 60000, 62000], index=MultiLevelIndex)  
# MultiLevel Series With Salary Values

# Group by first level (Dept)
GroupedMultiLevel = MultiLevelSeries.groupby(level=0).mean()  
# Compute Mean Salary By Department
print("Mean salary by department (MultiLevel Series):\n", GroupedMultiLevel, "\n")  
# Display Grouped Mean Salary

Mean salary by department (Series):
 HR    52500.0
IT    61000.0
dtype: float64

Mean salary by department (MultiLevel Series):
 Dept
HR    52500.0
IT    61000.0
dtype: float64

 kindly

In [ ]:
# Grouping (DataFrame)
import pandas as pd                      # Import Pandas Library As pd

# DataFrame
EmployeeDataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],  
    # Department Column
    "Employee": ["Alice", "Bob", "Charlie", "David"],  
    # Employee Column
    "Salary": [50000, 55000, 60000, 62000]  
    # Salary Column
})
# Create DataFrame With Department, Employee, Salary

# Grouping by Department
GroupedDataFrame = EmployeeDataFrame.groupby("Department")  
# Group DataFrame By Department Column
print("Grouped DataFrame (just groups, no aggregation):\n", GroupedDataFrame, "\n")  
# Print Grouped Object (No Aggregation Yet)

# Accessing one group
print("HR group in DataFrame:\n", GroupedDataFrame.get_group("HR"), "\n")  
# Display Rows Belonging To HR Group

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000273B3BEF250>

HR group in DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         HR      Bob   55000

### Aggregating DataFrame

In [ ]:
# Aggregating DataFrame
# Aggregation on grouped DataFrame
AggregatedDataFrame = GroupedDataFrame["Salary"].mean()  
# Compute Mean Salary For Each Department
print("Aggregated DataFrame (mean salary per department):\n", AggregatedDataFrame, "\n")  
# Display Mean Salary Per Department

# Multiple aggregations on DataFrame
MultiAggDataFrame = GroupedDataFrame.agg({
    "Salary": ["mean", "sum", "max"]  
    # Compute Mean, Sum, And Max
})
print("Aggregated DataFrame (multiple stats):\n", MultiAggDataFrame, "\n")  
# Display Multiple Aggregation Statistics

Aggregated DataFrame (mean salary per department):
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
HR          52500.0  105000  55000
IT          61000.0  122000  62000

### Comprehensive Grouping Example With Multiple Aggregations

In [ ]:
import pandas as pd                      # Import Pandas Library As pd

# ------------------------------------------
# Sample DataFrame
# ------------------------------------------
EmployeeRecordsDataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],  
    # Department Column
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],  
    # Employee Names Column
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000],  
    # Salary Column
    "Bonus": [5000, 6000, 7000, 8000, 5500, 7500]  
    # Bonus Column
})
print("Original DataFrame:\n", EmployeeRecordsDataFrame, "\n")  
# Display Original DataFrame

# ------------------------------------------
# Grouping by Department (no aggregation yet)
# ------------------------------------------
GroupedByDepartment = EmployeeRecordsDataFrame.groupby("Department")  
# Group DataFrame By Department Column
print("Groups formed:\n", GroupedByDepartment.groups, "\n")  
# Display Indices Of Each Group

# Access a specific group
print("HR group:\n", GroupedByDepartment.get_group("HR"), "\n")  
# Display Rows Belonging To HR Group

# ------------------------------------------
# Aggregating after grouping
# ------------------------------------------
# 1. Single aggregation function (mean salary)
MeanSalaryByDept = GroupedByDepartment["Salary"].mean()  
# Compute Mean Salary Per Department
print("Mean Salary per Department:\n", MeanSalaryByDept, "\n")  
# Display Mean Salary Per Department

# 2. Multiple aggregation functions
AggStatsByDept = GroupedByDepartment.agg({
    "Salary": ["mean", "max", "min"],  
    # Compute Mean, Max, Min Salary
    "Bonus": ["sum", "mean"]  
    # Compute Sum And Mean Bonus
})
print("Aggregated stats per Department:\n", AggStatsByDept, "\n")  
# Display Aggregated Statistics Per Department

# ------------------------------------------
# Optional: filtering groups (e.g., mean salary > 55000)
# ------------------------------------------
HighSalaryDept = GroupedByDepartment.filter(lambda x: x["Salary"].mean() > 55000)  
# Keep Groups With Mean Salary > 55000
print("Departments with mean salary > 55000:\n", HighSalaryDept, "\n")  
# Display Groups Meeting The Salary Condition

Original DataFrame:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
4         HR      Eva   58000   5500
5         IT    Frank   61000   7500

Groups formed:
 {'HR': [0, 1, 4], 'IT': [2, 3, 5]}

HR group:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
4         HR      Eva   58000   5500

Mean Salary per Department:
 Department
HR    54333.333333
IT    61000.000000
Name: Salary, dtype: float64

Aggregated stats per Department:
                   Salary                Bonus
                    mean    max    min    sum    mean
Department
HR          54333.333333  58000  50000  16500  5500.0
IT          61000.000000  62000  60000  22500  7500.0

Departments with mean salary > 55000:
   Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
5         IT    Frank   61000   7500

### Difference Between Grouping In Series And DataFrames

In [ ]:
import pandas as pd                      # Import Pandas Library As pd

# ------------------------------------------
# 1. Series Example
# ------------------------------------------
SalarySeriesExample = pd.Series([50000, 55000, 60000, 62000],  
                                # Create Series For Salaries
                                index=["Alice", "Bob", "Charlie", "David"])  
                                # Index Represents Employee Names

DepartmentSeriesExample = pd.Series(["HR", "HR", "IT", "IT"],  
                                    # Series For Department Of Each Employee
                                    index=["Alice", "Bob", "Charlie", "David"])  
                                    # Aligns With Salary Series

# Grouping (creates groups, no aggregation yet)
GroupedSeriesExample = SalarySeriesExample.groupby(DepartmentSeriesExample)  
# Group Salary Series By Department
print("Grouped Series (no aggregation):")  
# Display Grouped Series Information

for Dept, Group in GroupedSeriesExample:  
    # Iterate Over Each Department Group
    print(f"{Dept}: {Group.values}")  
    # Print Department Name And Salary Values
print()  
# Aggregating (mean per department)
AggregatedSeriesExample = GroupedSeriesExample.mean()  
# Compute Mean Salary Per Department
print("Aggregated Series (mean salary per department):")  
# Display Aggregated Mean Salary
print(AggregatedSeriesExample)  
# Print Mean Salary Series
print("\n" + "="*50 + "\n")  
# Separator For Readability

# ------------------------------------------
# 2. DataFrame Example
# ------------------------------------------
EmployeeDataFrameExample = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],  
    # Department Column
    "Employee": ["Alice", "Bob", "Charlie", "David"],  
    # Employee Names Column
    "Salary": [50000, 55000, 60000, 62000],  
    # Salary Column
    "Bonus": [5000, 6000, 7000, 8000]  
    # Bonus Column
})
# Create DataFrame With Multiple Columns

# Grouping by Department (creates groups)
GroupedDataFrameExample = EmployeeDataFrameExample.groupby("Department")  
# Group DataFrame By Department Column
print("Grouped DataFrame (no aggregation):")  
# Display Grouped DataFrame

for Dept, Group in GroupedDataFrameExample:  
    # Iterate Over Each Department Group
    print(f"{Dept} group:\n{Group}\n")  
    # Print Group Name And Its Rows

# Aggregating (mean and sum for numeric columns)
AggregatedDataFrameExample = GroupedDataFrameExample.agg({
    "Salary": ["mean", "sum"],  
    # Compute Mean And Sum For Salary
    "Bonus": ["mean", "sum"]  
    # Compute Mean And Sum For Bonus
})
print("Aggregated DataFrame (Salary and Bonus stats per Department):")  
# Display Aggregated Statistics
print(AggregatedDataFrameExample)  
# Print DataFrame With Aggregated Stats

Grouped Series (no aggregation):
HR: [50000 55000]
IT: [60000 62000]

Aggregated Series (mean salary per department):
HR    52500.0
IT    61000.0
dtype: float64

==================================================

Grouped DataFrame (no aggregation):
HR group:
  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000

IT group:
  Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000

Aggregated DataFrame (Salary and Bonus stats per Department):
             Salary           Bonus
               mean     sum    mean    sum
Department
HR          52500.0  105000  5500.0  11000
IT          61000.0  122000  7500.0  15000

In [ ]:
# Merging DataFrames
import pandas as pd                      # Import Pandas Library As pd

# DataFrame 1
EmployeeDataFrameOne = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "David"],  
    # Employee Names Column
    "Department": ["HR", "IT", "HR", "IT"]  
    # Department Column
})
# Create First DataFrame

# DataFrame 2
EmployeeDataFrameTwo = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "Eva"],  
    # Employee Names Column
    "Salary": [50000, 60000, 55000, 58000]  
    # Salary Column
})
# Create Second DataFrame

# Inner merge (only common employees)
InnerMergedDataFrame = pd.merge(EmployeeDataFrameOne, EmployeeDataFrameTwo, on="Employee", how="inner")  
# Merge On Employee, Keep Common Rows Only
print("Inner Merge:\n", InnerMergedDataFrame, "\n")  
# Display Result Of Inner Merge

# Outer merge (all employees)
OuterMergedDataFrame = pd.merge(EmployeeDataFrameOne, EmployeeDataFrameTwo, on="Employee", how="outer")  
# Merge On Employee, Keep All Rows
print("Outer Merge:\n", OuterMergedDataFrame, "\n")  
# Display Result Of Outer Merge

Inner Merge:
   Employee Department  Salary
0    Alice         HR   50000
1      Bob         IT   60000
2  Charlie         HR   55000

Outer Merge:
   Employee Department   Salary
0    Alice         HR  50000.0
1      Bob         IT  60000.0
2  Charlie         HR  55000.0
3    David         IT      NaN
4      Eva        NaN  58000.0

### Merging On Different Key Columns

In [ ]:
# Merging on different key columns
# Can merge using left_on/right_on
import pandas as pd                      # Import Pandas Library As pd

EmployeeDataFrameOne = pd.DataFrame({
    "EmpID": [1, 2, 3],  
    # Employee ID Column
    "Name": ["Alice", "Bob", "Charlie"]  
    # Employee Names Column
})
# Create First DataFrame

EmployeeDataFrameTwo = pd.DataFrame({
    "EmployeeID": [2, 3, 4],  
    # Employee ID Column (Different Name)
    "Salary": [60000, 55000, 58000]  
    # Salary Column
})
# Create Second DataFrame

# Merge using different column names
MergedDifferentKeys = pd.merge(EmployeeDataFrameOne, EmployeeDataFrameTwo, left_on="EmpID", right_on="EmployeeID", how="inner")  
# Merge DataFrames On Different Key Columns
print("Merge on different keys:\n", MergedDifferentKeys)  
# Display Merged DataFrame Result

Merge on different keys:
    EmpID     Name  EmployeeID  Salary
0      2      Bob           2   60000
1      3  Charlie           3   55000

### Handling Overlapping Column Names With Suffixes

In [ ]:
# Handling overlapping column names
# Use suffixes to avoid column conflicts
# If both DataFrames have same column names
# Pandas adds default _x and _y suffixes
# You can customize suffixes using parameter
import pandas as pd                      # Import Pandas Library As pd

EmployeeDataFrameOne = pd.DataFrame({
    "Employee": ["Alice", "Bob"],  
    # Employee Names Column
    "Salary": [50000, 60000]  
    # Salary Column
})
# Create First DataFrame

EmployeeDataFrameTwo = pd.DataFrame({
    "Employee": ["Bob", "Charlie"],  
    # Employee Names Column
    "Salary": [65000, 55000]  
    # Salary Column
})
# Create Second DataFrame

# Merge with custom suffixes
MergedWithSuffixes = pd.merge(EmployeeDataFrameOne, EmployeeDataFrameTwo, on="Employee", how="outer", suffixes=("_Old", "_New"))  
# Merge DataFrames, Add Custom Suffixes
print("Merge with custom suffixes:\n", MergedWithSuffixes)  
# Display Merged DataFrame Result

Merge with custom suffixes:
   Employee  Salary_Old  Salary_New
0    Alice     50000.0         NaN
1      Bob     60000.0     65000.0
2  Charlie         NaN     55000.0

### Merging Using Indexes

In [ ]:
# Merging using indexes
# Merge DataFrames based on row index
import pandas as pd                      # Import Pandas Library As pd

SalaryDataFrame = pd.DataFrame({"Salary": [50000, 60000]}, index=["Alice", "Bob"])  
# Create First DataFrame With Index

DepartmentDataFrame = pd.DataFrame({"Department": ["HR", "IT"]}, index=["Alice", "Bob"])  
# Create Second DataFrame With Index

# Merge using index
MergedByIndex = pd.merge(SalaryDataFrame, DepartmentDataFrame, left_index=True, right_index=True)  
# Merge DataFrames Using Their Indexes
print("Merge using indexes:\n", MergedByIndex)  
# Display Merged DataFrame Result

Merge using indexes:
        Salary Department
Alice   50000         HR
Bob     60000         IT

### Summary Tables Using Pivot Table

In [ ]:
# Summary Tables using pivot_table
import pandas as pd                      # Import Pandas Library As pd

DepartmentTeamDataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],  
    # Department Column
    "Team": ["A", "B", "A", "B"],  
    # Team Column
    "Salary": [50000, 55000, 60000, 62000]  
    # Salary Column
})
# Create DataFrame

SummaryPivotTable = DepartmentTeamDataFrame.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")  
# Create Pivot Table With Mean Salaries
print(SummaryPivotTable)  
# Display Pivot Table Result

Team              A        B
Department
HR          50000.0  55000.0
IT          60000.0  62000.0

### Pivot Table With Multiple Aggregations

In [ ]:
# Summary table using pivot_table
import pandas as pd                      # Import Pandas Library As pd

DepartmentTeamDataFrame = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],  
    # Department Column
    "Team": ["A", "B", "A", "B", "A", "B"],  
    # Team Column
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]  
    # Salary Column
})
# Create DataFrame With Department, Team, Salary

# Pivot table: average salary by Department and Team
SummaryPivotTable = DepartmentTeamDataFrame.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")  
# Compute Mean Salary By Department And Team
print("Summary Table (Average Salary):\n", SummaryPivotTable)  
# Display Resulting Pivot Table

# Pivot Table with Multiple Aggregation Functions
# Apply several functions at once
MultiAggPivotTable = DepartmentTeamDataFrame.pivot_table(
    values="Salary",  
    # Column To Aggregate
    index="Department",  
    # Rows: Group By Department
    columns="Team",  
    # Columns: Group By Team
    aggfunc=["mean", "sum", "max"]  
    # Apply Multiple Aggregation Functions
)
# Create Pivot Table With Multiple Stats
print("\nPivot Table with Multiple Aggregations:\n", MultiAggPivotTable)  
# Display Pivot Table With Aggregated Values

Summary Table (Average Salary):
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

Pivot Table with Multiple Aggregations:
                mean              sum            max
Team              A        B       A       B      A      B
Department
HR          54000.0  55000.0  108000   55000  58000  55000
IT          60000.0  61500.0   60000  123000  60000  62000

### Handling Missing Data In Pivot Table

In [ ]:
# Handling Missing Data in Pivot Table
# Fill missing combinations with specific value
PivotTableWithFill = DepartmentTeamDataFrame.pivot_table(
    values="Salary",  
    # Column To Aggregate
    index="Department",  
    # Rows Grouped By Department
    columns="Team",  
    # Columns Grouped By Team
    aggfunc="mean",  
    # Use Mean As Aggregation Function
    fill_value=0  
    # Replace Missing Values With 0
)
# Create Pivot Table With Filled Missing Values
print("Pivot Table with Missing Values Filled:\n", PivotTableWithFill)  
# Display Pivot Table With No NaNs

Pivot Table with Missing Values Filled:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

### Grouping vs Pivot Tables

In [ ]:
# Grouping vs Pivot Tables
# Pivot tables are essentially groupby + aggregation + reshape in one step.
# They are easier to read when summarizing across two categorical variables.
# Equivalent using groupby
GroupedEquivalent = DepartmentTeamDataFrame.groupby(["Department", "Team"])["Salary"].mean().unstack()
print("Equivalent using groupby + unstack:\n", GroupedEquivalent)

Equivalent using groupby + unstack:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0